pir_dht_piezo_flows.json
[
    {
        "id": "a5c3a979fb3a984e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd3780f801ade522",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "29e5e26e6a63ce6d",
        "type": "homekit-standalone",
        "accessoryCategory": "10",
        "bridgeName": "Motion Sensor",
        "hostType": 1,
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "a6e402f065c8c462",
        "type": "homekit-standalone",
        "accessoryCategory": "10",
        "bridgeName": "Temperature Sensor",
        "hostType": 1,
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "a5f0d91b1e1a48b4",
        "type": "homekit-standalone",
        "accessoryCategory": "10",
        "bridgeName": "Humidity Sensor",
        "hostType": 1,
        "pinCode": "111-11-111",
        "port": "",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    },
    {
        "id": "108d762179947995",
        "type": "rpi-gpio in",
        "z": "a5c3a979fb3a984e",
        "name": "PIR Sensor",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "a14d13d4abf081b8",
                "211abe6e280d47ae"
            ]
        ]
    },
    {
        "id": "208260a6b5dda7b9",
        "type": "rpi-gpio out",
        "z": "a5c3a979fb3a984e",
        "name": "Buzzer",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "211abe6e280d47ae",
        "type": "trigger",
        "z": "a5c3a979fb3a984e",
        "name": "Trigger buzzer when motion sensed",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 380,
        "wires": [
            [
                "208260a6b5dda7b9"
            ]
        ]
    },
    {
        "id": "99193c2a36e46b8d",
        "type": "homekit-service",
        "z": "a5c3a979fb3a984e",
        "isParent": true,
        "hostType": "1",
        "bridge": "",
        "accessoryId": "29e5e26e6a63ce6d",
        "parentService": "",
        "name": "Door Sensor",
        "serviceName": "MotionSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 690,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a14d13d4abf081b8",
        "type": "function",
        "z": "a5c3a979fb3a984e",
        "name": "",
        "func": "// test\nresult = {\n    payload: {\n        MotionDetected: false\n    }\n};\n\nif (msg.payload) {\n    result.payload.MotionDetected = true;\n}\n\nreturn result",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "99193c2a36e46b8d"
            ]
        ]
    },
    {
        "id": "54e8432ed22426ae",
        "type": "rpi-dht22",
        "z": "cd3780f801ade522",
        "name": "Temperature Humidity sensor",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": 1,
        "pin": "40",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "4781c7d6aa26fc75",
                "a454c3ef43ac9d74",
                "3e3d125c229b6063"
            ]
        ]
    },
    {
        "id": "17600a13f5dc0d4e",
        "type": "inject",
        "z": "cd3780f801ade522",
        "name": "Check temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "54e8432ed22426ae"
            ]
        ]
    },
    {
        "id": "4781c7d6aa26fc75",
        "type": "debug",
        "z": "cd3780f801ade522",
        "name": "Temperature and humiditiy sensor output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "a454c3ef43ac9d74",
        "type": "function",
        "z": "cd3780f801ade522",
        "name": "Prepare temperature payload",
        "func": "msg.payload = {\n    CurrentTemperature: parseFloat(msg.payload)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 260,
        "wires": [
            [
                "10d57e8b9893ccca"
            ]
        ]
    },
    {
        "id": "3e3d125c229b6063",
        "type": "function",
        "z": "cd3780f801ade522",
        "name": "Prepare humidity payload",
        "func": "msg.payload = {\n    CurrentRelativeHumidity: parseInt(msg.humidity)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 400,
        "wires": [
            [
                "c43a8f9ac14de2d5"
            ]
        ]
    },
    {
        "id": "10d57e8b9893ccca",
        "type": "homekit-service",
        "z": "cd3780f801ade522",
        "isParent": true,
        "hostType": "1",
        "bridge": "",
        "accessoryId": "a6e402f065c8c462",
        "parentService": "",
        "name": "Door temperature",
        "serviceName": "TemperatureSensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1110,
        "y": 260,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c43a8f9ac14de2d5",
        "type": "homekit-service",
        "z": "cd3780f801ade522",
        "isParent": true,
        "hostType": "1",
        "bridge": "",
        "accessoryId": "a5f0d91b1e1a48b4",
        "parentService": "",
        "name": "Door humidity",
        "serviceName": "HumiditySensor",
        "topic": "",
        "filter": false,
        "manufacturer": "NRCHKB",
        "model": "1.3.6",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.3.6",
        "hardwareRev": "1.3.6",
        "softwareRev": "1.3.6",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 1100,
        "y": 400,
        "wires": [
            [],
            []
        ]
    }
]